
.titre {
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    text-align : center;
        }
.table_gauche {
    border-collapse : separate;
    border-spacing: 15px 20px ;
    text-align : center;
    margin-left: auto;
    margin-right: auto;
}
.border{
    border: 1px solid black;
    border-collapse: collapse;
    text-align : center;
}
.mise_gain,.bordure {
    border: 1px solid black;
    border-collapse: separate;
    text-align : center;
    margin-left: auto;
    margin-right: auto;
}
input[type="number"] {
    width: 125px;
  }
